::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #112240;
}

::-webkit-scrollbar-button {
    width: 100px;
    height: 100px;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

body,
html {
    overflow-x: hidden;
}

@media screen and (max-width=600px) {}